header div img {
    width: 60px;
    height: 60px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d2d2d2;
}

form {
    margin: 0;
    padding: 0;
}

.form-container {
    width: 100%;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    background-color: #36D4F4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #20a0b9;
}