@media (max-width: 1799px) {
    .pokemon-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

@media (max-width: 1499px) {
    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1199px) {
    .pokemon-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .pokemon-details {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vw;
        max-height: 80vh;
        padding-bottom: 50px;
        overflow: auto;
    }

    .pokemon-details img {
        transform: none;
        margin: 20px 0 30px
    }

    .pokemon-name {
        margin: 0;
    }
}

@media (max-width: 979px) {    
    body > img {
        width: 120vw;
        top: -20%;
        left: -20%;
    }
    
    .input-box {
        display: none;
    }

    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 649px) {
    .pokemon-grid {
        grid-template-columns: 1fr;
    }

    .pokemon-details {
        transform: translate(-50%, -50%) scale(0.8);
        max-width: 95vw;
        max-height: 100vh;
    }
}

@media (max-width: 459px) {
    header {
        justify-content: center;
    }

    .user-img {
        display: none;
    }
}

@media (max-width: 394px) {
    .pokemon-details {
        transform: translate(-50%, -50%) scale(0.6);
        max-width: none;
        max-height: 150vh;
        width: 130vw;
    }
}