p.weaknesses {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-weight: 700;
}

p.weaknesses::after {
    position: absolute;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

p.weaknesses:hover::after {
    opacity: 1;
    visibility: visible;
}

p.weaknesses.fire::before {
    content: 'F';
}

p.weaknesses.fire::after {
    content: "FIRE";
}

p.weaknesses.flying::before {
    content: 'F';
}

p.weaknesses.flying::after {
    content: "FLYING";
}

p.weaknesses.ice::before {
    content: 'I';
}

p.weaknesses.ice::after {
    content: "ICE";
}

p.weaknesses.psychic::before {
    content: 'P';
}

p.weaknesses.psychic::after {
    content: "PSYCHIC";
}