@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

header button.simple {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: none;
    background: none;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

header button.simple:hover {
    background-color: #F0F0F0;
}

div.start_buttons {
    margin-left: 16px;
}

div.start_buttons div.youtube_logo {
    cursor: pointer;
    padding-left: 16px;
}

div.start_buttons div.youtube_logo span {
    height: 33px;
    margin-left: 4px;
    font-size: 10px;
    color: #606060;
}

div.search div.input {
    position: relative;
}

div.search div.input input {
    width: 30vw;
    height: 38px;
    border-radius: 40px 0 0 40px;
    border: 1px solid #CCCCCC;
    padding: 0 30px 0 16px;
    outline: none;
    font-size: 16px;
}

div.search div.input input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

div.search div.input input:focus {
    border: 1px solid #1C62B9;
}

div.search div.input img {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

div.search button.search_button {
    width: 64px;
    height: 38px;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    margin: 0 16px 0 -1px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

div.search button.search_button:hover {
    background-color: #F0F0F0;
    border-color: #C6C6C6;
}

div.search button.mic_button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

div.search button.mic_button:hover {
    background-color: #DDDDDD;
}

div.end_buttons {
    display: flex;
    gap: 8px;
    margin-right: 24px;
}

div.end_buttons div {
    width: 40px;
    height: 40px;
    padding: 8px;
}

div.end_buttons div img {
    cursor: pointer;
    border-radius: 50%;
}

main {
    display: flex;
}

div.video-player {
    margin: 25px 0 0 5vw;
    border-radius: 15px;
}

div.video-player img {
    width: 60vw;
    border-radius: 15px;
}

div.video-details {
    margin: 10px 0 0 5vw;
}

div.video-details h1 {
    font-size: 20px;
    font-weight: 700;
}

div.channel {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}

div.channel div.start, div.channel div.end {
    display: flex;
    align-items: center;
}

div.channel div.end {
    position: relative;
}

div.channel div.start > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

div.channel div.start p.a {
    cursor: pointer;
}

div.channel div.start p.mini {
    margin-top: 3px;
    color: #606060;
    font-size: 12px;
}

div.channel button {
    height: 36px;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

div.channel button:hover {
    background-color: #DDDDDD;
}

div.channel div.start button.subscribe {
    margin-left: 20px;
    width: 127px;
}

div.channel div.end button.like {
    width: 87px;
    border-radius: 18px 0 0 18px;
}

div.channel div.end span {
    position: absolute;
    left: 87px;
    height: 25px;
    width: 1px;
    background-color: #CCCCCC;
    z-index: 1;
}

div.channel div.end button.dislike {
    width: 52px;
    border-radius: 0 18px 18px 0;
}

div.channel div.end button.share {
    width: 138px;
    margin-left: 16px;
}

div.channel div.end button.more {
    width: 36px;
    margin-left: 16px;
}

div.description {
    width: 60vw;
    margin: 16px 0 0 5vw;
    border-radius: 15px;
    background-color: #EFEFEF;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
}

div.description p {
    margin-top: 5px;
    line-height: 1.3;
}

div.description p.info {
    display: inline;
    font-weight: 500;
    margin: 0 10px 0 0;
}

div.comment {
    width: 60vw;
    margin: 20px 0 0 5vw;
}

div.comment h2 {
    font-size: 20px;
    font-weight: 700;
    display: inline;
    margin-right: 20px;
}

div.comment button.order {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 127px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
    align-self: center;
    position: relative;
    top: 5px;
}

div.comment div.comment-box {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

div.comment div.comment-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
div.comment div.comment-box div {
    font-size: 14px;
    color: #606060;
    flex-grow: 1;
}

div.comment div.comment-box div hr {
    margin-top: 4px;
    opacity: 0.5;
}

section.recommended {
    flex-grow: 1;
}

div.filters {
    margin: 25px 0 0 25px;
    padding: 8px 0;
}

div.filters button {
    height: 32px;
    padding: 0 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

div.filters button.bs {
    color: #FFFFFF;
    background-color: #000000;
}

div.filters button.buns:hover {
    background-color: #DDDDDD;
}

div.filters button.other {
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7px;
}

div.filters button.other:hover {
    background-color: #F0F0F0;
}

section.recommended ul {
    list-style: none;
    margin: 20px 0 0 25px;
}

section.recommended ul li {
    display: flex;
    width: 30vw;
    max-width: 450px;
    margin-bottom: 10px;
    cursor: pointer;
}

section.recommended ul li img{
    width: 168px;
    height: 94px;
    border-radius: 8px;
}

section.recommended ul li div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 7px;
}

section.recommended ul li div h3 {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.recommended ul li div p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}